---
import Layout from "../layouts/Layout.astro";
import Home from "../components/home/Home.astro";
---

<Layout
	title="Demo de página Web | KoalaDevs"
	description="Explora la mejor tienda de componentes y accesorios tecnológicos. Encuentra ofertas exclusivas y los últimos productos."
>
	<div class="min-h-screen">
		<Home />
	</div>
</Layout>
